appdirs==1.4.4
asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
cssselect2==0.7.0
Django==4.2.8
django-appconf==1.0.6
django-classy-tags==4.1.0
django-cms==3.11.4
django-entangled==0.5.4
django-filer==3.1.1
django-formtools==2.4.1
django-parler==2.3
django-polymorphic==3.1.0
django-sekizai==4.1.0
django-select2==8.1.2
django-treebeard==4.7
djangocms-admin-style==3.2.6
djangocms-attributes-field==3.0.0
djangocms-file==3.0.1
djangocms-frontend==1.2.0
djangocms-googlemap==2.2.0
djangocms-icon==2.1.0
djangocms-picture==4.1.1
djangocms-snippet==3.1.1
djangocms-style==3.1.0
djangocms-text-ckeditor==5.1.5
djangocms-video==3.1.0
easy-thumbnails==2.8.5
fake-useragent==1.4.0
html5lib==1.1
idna==3.6
iniconfig==2.0.0
lxml==4.9.3
markdown-it-py==3.0.0
marshmallow==3.20.1
mdurl==0.1.2
packaging==23.2
Pillow==10.1.0
pipdate==0.5.6
pluggy==1.3.0
Pygments==2.17.2
pytest==7.4.3
python-dotenv==1.0.0
reportlab==4.0.7
requests==2.31.0
rich==13.7.0
six==1.16.0
sqlparse==0.4.4
svglib==1.5.1
termcolor==2.4.0
tinycss2==1.2.1
urllib3==2.1.0
webencodings==0.5.1
